.material-icons { font-size: 18px; }

.basicfont {
    color: white;
    font: 12px Roboto;  
  }

#id-sd1 p, #id-sd2 p, #id-sd3 p, #id-sd4 p, #id-sd5 p, #id-sd6 p, #id-sd7 p, #id-sd8 p, #id-sd9 p, #id-slide p {
  /* #id-ss1 p, #id-ss2 p, #id-ss3 p, #id-ss4 p, #id-ss5 p, #id-ss6 p, #id-ss7 p, #id-ss8 p, #id-ss9 p, #id-stest p { */
/*   line-height: 10px; */
}
@media (orientation: portrait) {
  aside {
    display: block;
    width: 400px;
    overflow: hidden;
  }
  article {
    width: 660px;
    display: block;
    overflow: hidden;
  }
}  
@media (orientation: landscape)  {
  aside {
    position: absolute;
    top: 0px;
    left:10px;
    display: block;
    width: 412px;
    overflow: hidden;
  }
  article {
    position: fixed;
    width: 660px;
    display: block;
    top: 0px;
    left: 420px;
  } 
}
article {
    position: absolute;
    top: 0px;
    left: calc(400px + (100% - 900px)/6); 
    display: block;
    width: 660px;
    overflow: hidden;
}
select {
    width: 100px;
}
button {
    line-height: 18px;
}
#id-headcontrols p {
    line-height: 28px;
}
#id-consolescreen .fontYnormal { 
    font-size: 32px;
/*     line-height: 42px; */
}
#id-consolescreen .fontYsmall { 
    font-size: 25px;
/*     line-height: 34px; */
}

#id-consolescreen {
    /* include padding */
    height: 360px;
    width: 640px;
}
#id-screen {
    width: 640px;
    height: 360px;
    position: absolute;
}
#id-myscreen {
  height: 360px;
  width: 640px;
  position:absolute;
  background-color: black;
} 
#id-titleinfo #id-title {
    height: 30px;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    font-size: 10px;
}
#id-titleinfo #id-info {
    height: 35px;
    padding: 4px 8px 0 8px;
    font-size: 4px;
}
#id-consolescreen #id-title {
    height: 30%; 
    padding-top: 10px; 
    font-size: 35px; 
    calc(5vw - 24px)
    calc(6vw - 24px);
}
#id-consolescreen #id-info {
    height: 40%;
    padding-top: 5%;
    font-size: 18px;
}

  #id-testscr {
    width: 320px;
    height: 180px;
    display: block;
    font-size: 100px;
/*     line-height: 120px; */
    background-color: #222;
    border-width: 1px 3px 4px 1px;
    border-style: solid;
    border-color:gray;
  }
  #id-testnotearea {
    width: 250px;
    height: 100px;
    display: inline-block;
    font-size: 12px;
/*     line-height: 16px; */
  }
  #id-classtext {
    width: 300px;    
  }
  #id-previewtable .fontYnormal {
      font-size: 8px;
  }
  #id-previewtable .fontYsmall { 
      font-size: 6px;
  }
  .help {
     overflow-x: hidden;
     height: 250px;
  }
  .scrtime {
    border: none;
    width: 36px;
  }
  .settime {
    width: 12px;
    overflow: hidden;
    visibility: hidden;
    background-color: #333;
  }
  .edtext {
    font-family: "Droid Serif";
    font-size: 14px;
    line-height: 18px;
    background: linear-gradient(to right, black 0%, black 100% );
  }
  .edXnormal { 
    font-family: Roboto; 
    background: linear-gradient(to right, black 0%, black 400px, #222 400px, #222 100% );
  }
  .edXnarrow { 
    font-family: "Roboto Condensed"; 
    background: linear-gradient(to right, black 0%, black 320px, #222 320px, #222 100% );
  }
  .edYnormal {
      font-size: 23px;
/*       line-height: 28px; */
  }
  .edYsmall {
      font-size: 18px;
/*       line-height: 22px; */
  }
  .mainheading {
    display: block;
    padding: 10px;
    float:auto;
    font: italic bold 54px "Droid Serif";
  }
  .smallheading {
    font-family: "Droid Serif";
    font-size: 18px;
    font-weight: bold;
/*     line-height: 20px; */
  }
  #id-s_selection {
    width: 390px;
  }
  #id-s_previewtables {
    width: 390px;
  }
  #id-progeditarea{
    margin-left: 5px;
    width: 350px;
    height: 430px;
    color: #eeb;
    background-color:#000;
    font-size: 14px;
  }
  #id-progfile{
    max-width:220px;
  }
  
#id-autocomplete {
    font-size: 16px;
    width: 180px;
}
#ui-id-1 {
    font-size: 16px;
}
  
  #a_space {
    width:230px
  }
  #id-tabs {
    width: 380px;
  }
  
  #id-songlist {
    display:block;
    background-color: #000000;
    height: 350px;
    overflow-y: auto;
  }
  #id-songlist li {
    list-style-position: inside;
    line-height: 22px;
  }
  #id-editor {
    display: none;
    width: 640px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background: linear-gradient(gray, black 60% );
  }
  .selecttxt { 
    min-width: 140px;
    display: inline-block;
    color:whitesmoke;
  }
  #id-selbgfile {
    width: 180px;
  }
  /*16 x 9 = 160 x 90 (320..90x5= 450)*/
  #id-timestable, #id-programme {
    table-layout: fixed;
    min-width: 320px;
    max-width: 320px;
    border-collapse: collapse;
    margin:auto;
  }
  #id-programme td {
    padding: 3px 6px;
  }

  #id-timesblock, #id-progblock, #id-settingsblock, #id-helpsblock {
    display:block;
    height: 470px;
    overflow-y: auto;
  }
/* Preview Tables LANDSMALL */
#id-previewtable {
  /* table-layout:fixed; */
  width: 340px;
  height: 490px;
  /* border-collapse: collapse; */
  padding: 0;
  margin: auto;
  /* font: normal normal normal 8px/10px Sans, "Trebuchet MS"; */
}

.previewrow {
  position: relative;
  width: 340px;
  height: 96px;
}

.cellleft {
  position: absolute;
  left: 0;        
  top: 0;
  width: 168px;
  bottom: 0;
  display: block;
  border: 1px solid cornsilk;
  max-height: 96px;
  overflow: hidden;
}
.cellright {
  position: absolute;
  right: 0;        
  top: 0;
  width: 168px;
  bottom: 0;
  display: block;
  border: 1px solid cornsilk;
  max-height: 96px;
  overflow: hidden;
}

#id-fonttags td pre {
  font-size:11px;
}
#id-fonttags td {
  font-size:16px;
}
