.material-icons { font-size: 18px; }
.material-icons { font-size: 24px; }

.basicfont {
  color: white;
  font: 16px Roboto;  
}
#id-sd1 p, #id-sd2 p, #id-sd3 p, #id-sd4 p, #id-sd5 p, #id-sd6 p, #id-sd7 p, #id-sd8 p, #id-sd9 p, #id-slide p {
  /* #id-ss1 p, #id-ss2 p, #id-ss3 p, #id-ss4 p, #id-ss5 p, #id-ss6 p, #id-ss7 p, #id-ss8 p, #id-ss9 p, #id-stest p { */
  /* line-height: 12px; */
}
  
p {
/*   line-height: 18px; */
}

@media (orientation: portrait) {
  aside {
    display: block;
    width: 570px;
    overflow: hidden;
  }
  article {
    width: 980px;
    display: block;
    overflow: hidden;
  }
}  
@media (orientation: landscape)  {
  aside {
    position: absolute;
    top: 0px;
    left:10px;
    display: block;
    width: 570px;
    overflow: hidden;
    font-size: 16px;
  }
  article {
    position: absolute;
    width: 980px;
    display: block;
    top: 0px;
    left: calc((100% - 1550px)/2 + 560px);
    overflow: hidden;
  }
}  
select {
  width: 140px;
}
button {
    line-height: 24px;
}
#id-headcontrols {
    font-size: 18px;
}
#id-titleinfo #id-title {
  height: 38px;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  font-size: 12px;
}
#id-titleinfo #id-info {
  height: 50px;
  padding: 4px 8px 0 8px;
  font-size: 6px;
}
#id-consolescreen #id-title {
  height: 30%;
  padding-top: 20px;
  font-size: 54px;
}
#id-consolescreen #id-info {
  height: 40%;
  padding-top: 5%;
  font-size: 29px;
}
#id-consolescreen .fontYnormal { 
  font-size: 50px;
}
#id-consolescreen .fontYsmall { 
  font-size: 44px;
}
#id-testscr {
  width: 320px;
  height: 180px;
  display: block;
  font-size: 100px;
  background-color: #222;
  border-width: 1px 3px 4px 1px;
  border-style: solid;
  border-color:gray;
}
#id-testnotearea {
  width: 450px;
  height: 270px;
  display: inline-block;
  font-size: 18px;
}
#id-classtext {
  width: 480px;    
}
#id-previewtable .fontYnormal {
    font-size: 11px;
}
#id-previewtable .fontYsmall { 
    font-size: 10px;
}
.help {
    overflow-x: hidden;
    height: 370px;
}
.scrtime {
  border: none;
  width: 50px;
}
.settime {
  width: 12px;
  overflow: hidden;
  visibility: hidden;
  background-color: #333;
}
.edtext {
  font-family: "Droid Serif";
  font-size: 14px;
  background: linear-gradient(to right, black 0%, black 100% );
}
.edXnormal { 
  font-family: Roboto; 
  background: linear-gradient(to right, black 0%, black 400px, #222 400px, #222 100% );
}
.edXnarrow { 
  font-family: "Roboto Condensed"; 
  background: linear-gradient(to right, black 0%, black 320px, #222 320px, #222 100% );
}
.edYnormal {
  font-size: 23px;
}
.edYsmall {
  font-size: 18px;
}
.mainheading {
  display: block;
  padding: 10px;
  float:auto;
  font: italic bold 54px "Droid Serif";
}
.smallheading {
  font-family: "Droid Serif";
  font-size: 24px;
  font-weight: bold;
}
#id-consolescreen {
/*   display: block; */
  /* include padding */
    height: 540px;
    width: 960px;
}
#id-screen {
    height: 540px;
    width: 960px;
    position: absolute;
}
#id-myscreen {
  height: 540px;
  width: 960px;
  position:absolute;
  background-color: black;
} 
#id-s_selection {
  width: 540px;
}
#id-s_previewtables {
  width: 540px;
}
#id-progeditarea{
  margin-left: 5px;
  width: 350px;
  height: 430px;
  color: #eeb;
  background-color:#000;
  font-size: 14px;
}
#id-progfile{
  max-width:320px;
}

#id-autocomplete {
  font-size: 18px;
  width: 280px;
}
#ui-id-1 {
    font-size: 18px;
}
#id-showselectedsong {
  font-size:16px;
  line-height: 28px;
}
#id-showlist {
  font-size:16px;
  line-height: 32px;
}
#a_space {
  width:350px
}
#id-tabs {
  width: 600px;
}

#id-songlist {
  display:block;
  background-color: #000000;
  height: 450px;
  overflow-y: auto;
}
#id-songlist li {
  list-style-position: inside;
  line-height: 26px;
}

#id-editor {
  display: none;
  width: 660px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background: linear-gradient(gray, black 60% );
}
.selecttxt { 
  min-width: 200px;
  display: inline-block;
  color: whitesmoke;
}
#id-selbgfile {
  width: 290px;
}
/*16 x 9 = 160 x 90 (320..90x5= 450)*/
#id-timestable, #id-programme {
  table-layout: fixed;
  min-width: 490px;
  max-width: 490px;
  border-collapse: collapse;
  margin:auto;
}
#id-programme td {
  padding: 6px;
}
#id-timesblock, #id-progblock, #id-settingsblock, #id-helpsblock {
  display:block;
  height: 725px;
  overflow-y: auto;
}

/* Preview Tables LANDSCAPE */
#id-previewtable {
  /* table-layout:fixed; */
  width: 480px;
  height: 720px;
  /* border-collapse: collapse; */
  padding: 0;
  margin: auto;
  /* font: normal normal normal 8px/10px Sans, "Trebuchet MS"; */
}
br {
    display: block;
    margin: 0;
}
.previewrow {
  position: relative;
  width: 480px;
  height: 144px;
}

.cellleft {
  position: absolute;
  left: 0;
  top: 0;
  width: 238px;
  bottom: 0;
  display: block;
  border: 1px solid cornsilk;
  max-height: 144px;
  overflow: hidden;
}
.cellright {
  position: absolute;
  right: 0;        
  top: 0;
  width: 238px;
  bottom: 0;
  display: block;
  border: 1px solid cornsilk;
  max-height: 144px;
  overflow: hidden;
}

#id-fonttags td pre {
  font-size:14px;
}
#id-fonttags td {
  font-size:18px;
}